<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="QLDA Test Suite">
    <test verbose="5" preserve-order="true" name="Tests">
        <classes>
            <class name="com.qlda.tests.ForgotPasswordTests"/>
            <class name="com.qlda.tests.UserProfileTests"/>
            <class name="com.qlda.tests.TaskListTests"/>
            <class name="com.qlda.tests.TaskStatusTests"/>
            <class name="com.qlda.tests.TaskAssignmentTests"/> 
            <class name="com.qlda.tests.TaskCommentsTests"/>
        </classes>
    </test>
</suite>
